matplotlib==3.4.2
nltk==3.6.2
numpy
opencv-python==4.5.3.56
pandas==1.2.2
Pillow 
sentencepiece==0.1.95
tensorboard==2.6.0
tqdm
transformers==4.3.3
wandb==0.12.11
scipy==1.6.1
protobuf==3.17.3
pytorch-lightning==0.8.1